@font-face {
    font-family: 'SsangmunDongB';
    src: url('../resources/Typo_SsangmunDongB.ttf') format('truetype');
}
@font-face {
    font-family: 'Koverwatch';
    src: url('../resources/koverwatch.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../resources/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-family: 'NanumGothic';
    src: url('../resources/NanumGothic.ttf') format('woff');
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../resources/GmarketSansTTFMedium.ttf') format('truetype');
}

.fsm-board { margin:0; padding:0; overflow:hidden; }

.fsm-board .scoreboard-main {
    width: 656px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
}

.fsm-board .div-background {
    width: 656px;
    height: 48px;
    position: absolute;
    background-image: url("/resources/background/background_sbleft.png");
    background-repeat: no-repeat;
    background-blend-mode: screen;
    display: none;
}

.fsm-board .teams-left, .teams-right {
    width: 240px;
    height: 48px;
    background: #143CBD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.fsm-board .team-name {
    height: 100%;
    font-family: 'GmarketSansMedium';
    font-size: 33px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 6px;
}
   
.fsm-board .teams-left {
    border-bottom: 3px solid red;
}

.fsm-board .teams-right {
    border-bottom: 3px solid blue;
}

.fsm-board .team-score {
    width: 50px;
    height: 48px;
    font-family: 'Pretendard-Medium';
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-align: center;
    background: white;
    transition: 0.4s ease-in-out;
}

.fsm-board #team-score-left {
    background: linear-gradient(-90deg, white 90%, gray);
}

.fsm-board #team-score-right {
    background: linear-gradient(90deg, white 90%, gray);
}

.fsm-board .score-div {
    width: 30px;
    height: 48px;
    font-family: 'Pretendard-Medium';
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-align: center;
    background: white;
    transition: 0.4s ease-in-out;
}

.fsm-board .hipen {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fsm-board .divider {
    display: none;
}

.fsm-board .team-logo {
    width: 64px;
    height: 60px;
    background: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 100px;
    position: relative;
    transition: 0.4s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fsm-board .team-logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fsm-board #team-logo-left {
    left: 25px;
}

.fsm-board #team-logo-right {
    right: 25px;
}

.fsm-board .epl-lion {
    display: none;
}

.fsm-board .scoreboard-timer {
    width: 180px;
    height: 32px;
    margin: 0 auto;
    margin-top: -6px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: 'NanumGothic';
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    margin-top: -18px;
}

.fsm-board .time {
    width: 116px;
    height: 100%;
    background: #FFCE00;
    color: black;
    position: relative;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

.fsm-board .extra-time {
    width: 80px;
    height: 32px;
    color: white;
    background: #1BDD5F;
    transition: 0.5s ease-in-out;
    position: absolute;
    margin-left: 0px;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-status {
    width: 360px;
    height: 32px;
    top: 74px;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-main {
    width: 100%;
    height: 0px;
    transition: 0.4s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background: linear-gradient(0deg, rgb(0, 132, 255) 80%, rgb(22, 94, 153));
}

.fsm-board .pso-circle {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid white;
    margin: 2px;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-status > .pso-main ul {
    width: 100%;
    height: 32px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.fsm-board .pso-middle {
    display: flex;
    font-family: 'NanumGothic';
    font-weight: bold;
    font-size: 20px;
    margin: 8px;
    align-items: center;
    justify-content: center;
    color: white;
}

.clock-editor {
    margin-top: 100px;
}

.pk-wrap.show, .pk-score-row {
    display: none;
}