@font-face {
    font-family: 'SsangmunDongB';
    src: url('/resources/fonts/Typo_SsangmunDongB.ttf') format('truetype');
}
@font-face {
    font-family: 'Koverwatch';
    src: url('/resources/fonts/koverwatch.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('/resources/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-family: 'NanumGothic';
    src: url('/resources/fonts/NanumGothic.ttf') format('woff');
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('/resources/fonts/GmarketSansTTFMedium.ttf') format('truetype');
}

.fsm-board { margin:0; padding:0; overflow:hidden; }

.fsm-board .scoreboard-main {
    width: 656px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 30px;
    background: #00008B;
}

.fsm-board .div-background {
    width: 656px;
    height: 48px;
    position: absolute;
    background-image: url("/resources/background/background_sbleft.png");
    background-repeat: no-repeat;
    background-blend-mode: screen;
    display: none;
}

.fsm-board .teams-left, .teams-right {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.fsm-board .teams-left {
    background: linear-gradient(90deg, #00008B 60%, #0000ff);
    border-bottom: 3px solid red;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.fsm-board .teams-right {
    background: linear-gradient(-90deg, #00008B 60%, #0000ff);
    border-bottom: 3px solid blue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fsm-board .team-name {
    width: 100%;
    height: 100%;
    font-family: 'GmarketSansMedium';
    font-size: 33px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 6px;
}

.fsm-board .team-score {
    width: 50px;
    font-family: 'Pretendard-Medium';
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: #00009c;
    transition: 0.4s ease-in-out;
}

.fsm-board .score-div {
    height: 48px;
    font-family: 'Pretendard-Medium';
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 8px;
    background: #00009c;
    transition: 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fsm-board .hipen {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.fsm-board .divider {
    display: block;
    width: 2px;
    height: 30px;
    background: #3232ff;
    text-align: center;
}

.fsm-board .team-logo {
    width: 100px;
    height: 48px;
    background: #4b3ff5;
    border: 1px solid white;
    position: relative;
    transition: 0.4s ease-in-out;
}

.fsm-board .team-logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fsm-board .epl-lion {
    display: none;
}

.fsm-board #team-logo-left {
    background: linear-gradient(120deg, #89abc2 10%, skyblue);
}

.fsm-board #team-logo-right {
    background: linear-gradient(-120deg, #89abc2 10%, skyblue);
}

.fsm-board .scoreboard-timer {
    width: 180px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    color: #00008B;
    font-family: 'NanumGothic';
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    margin-top: -10px;
}

.fsm-board .time {
    width: 114px;
    height: 100%;
    background: white;
    position: relative;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

.fsm-board .extra-time {
    width: 80px;
    height: 32px;
    color: white;
    background: linear-gradient(90deg, #9400D3 40%, #028ed8);
    transition: 0.5s ease-in-out;
    position: absolute;
    margin-left: 0px;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-status {
    width: 360px;
    height: 32px;
    top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-main {
    width: 100%;
    height: 0px;
    transition: 0.4s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background: linear-gradient(120deg, #9400D3 40%, #028ed8);
}

.fsm-board .pso-circle {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid white;
    margin: 2px;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-status > .pso-main ul {
    width: 100%;
    height: 32px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.fsm-board .pso-middle {
    display: flex;
    font-family: 'NanumGothic';
    font-weight: bold;
    font-size: 20px;
    margin: 8px;
    align-items: center;
    justify-content: center;
    color: white;
}

.clock-editor {
    margin-top: 80px;
}

.pk-wrap.show, .pk-score-row {
    display: none;
}

.fsm-board .div-rc {
    position: absolute;
    top: 16px;
    gap: 6px;
    z-index: -1;
}

.fsm-board #rcHome {
    display: flex;
    left: 20px;
    justify-content: flex-end; 
    flex-direction: row-reverse;
}

.fsm-board #rcAway {
    display: flex;
    right: 20px;
    justify-content: flex-start; 
    flex-direction: row-reverse;
}

.fsm-board .div-rc .rc-card {
    width: 14px;
    height: 22px;
    background: #ef4444;
    border-radius: 3px;
}

.fsm-board #rcHome .rc-card {
    transform: skewX(3deg);
}

.fsm-board #rcAway .rc-card {
    transform: skewX(-3deg);
}

.fsm-board .div-rc.hidden {
    display: none; 
}