@font-face {
    font-family: 'SsangmunDongB';
    src: url('/resources/Typo_SsangmunDongB.ttf') format('truetype');
}
@font-face {
    font-family: 'Koverwatch';
    src: url('/resources/koverwatch.ttf') format('truetype');
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('/resources/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-family: 'NanumGothic';
    src: url('/resources/NanumGothic.ttf') format('woff');
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('/resources/GmarketSansTTFMedium.ttf') format('truetype');
}

.fsm-board { margin:0; padding:0; overflow:hidden; }

.div-contents {
    width: 100%;
    height: 100%;
    background: green;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.fsm-board .scoreboard-main {
    width: 656px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: rgb(236, 236, 236);
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.fsm-board .div-background {
    width: 656px;
    height: 48px;
    position: absolute;
    background-image: url("/resources/background/background_sbleft.png");
    background-repeat: no-repeat;
    background-blend-mode: screen;
    display: none;
}

.fsm-board .teams-left, .teams-right {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.fsm-board .team-name {
    height: 100%;
    font-family: 'GmarketSansMedium';
    font-size: 33px;
    font-weight: bold;
    color: black;
    text-align: center;
}
   
.fsm-board .teams-left {
    border-bottom: 3px solid red;
    background: linear-gradient(90deg, white 95%, rgb(209, 209, 209));
}

.fsm-board .teams-right {
    border-bottom: 3px solid blue;
    background: linear-gradient(-90deg, white 95%, rgb(209, 209, 209));
}

.fsm-board .team-score {
    width: 50px;
    font-family: 'Pretendard-Medium';
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 8px;
    background: gold;
}

.fsm-board .score-div {
    width: 30px;
    height: auto;
    font-family: 'Pretendard-Medium';
    font-size: 26px;
    font-weight: bold;
    color: black;
    padding: 8px;
    text-align: center;
    background: gold;
    transition: 0.4s ease-in-out;
}

.fsm-board .score {
    width: 50px;
    font-family: 'Pretendard-Medium';
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 8px;
    background: gold;
}

.fsm-board .hipen {
    display: block;
}

.fsm-board .divider {
    display: none;
}

.fsm-board .team-logo {
    width: 100px;
    height: 48px;
    border: 2px solid whitesmoke;
    position: relative;
    transition: 0.4s ease-in-out;
}

.fsm-board .team-logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fsm-board .epl-lion {
    display: none;
}

.fsm-board .scoreboard-timer {
    width: 180px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'NanumGothic';
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.fsm-board .time {
    width: 114px;
    height: 100%;
    background: dodgerblue;
    position: relative;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

.fsm-board .extra-time {
    width: 80px;
    height: 32px;
    background: limegreen;
    color: white;
    transition: 0.5s ease-in-out;
    position: absolute;
    margin-left: 0px;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-status {
    width: 360px;
    height: 32px;
    left: 260px;
    top: 78px;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-main {
    width: 360px;
    height: 0px;
    transition: 0.4s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background: linear-gradient(0deg, rgb(245, 245, 245) 80%, rgb(170, 170, 170));
}

.fsm-board .pso-circle {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 2px;
    transition: 0.4s ease-in-out;
}

.fsm-board .pso-status > .pso-main ul {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
}

.fsm-board .pso-middle {
    display: flex;
    font-family: 'NanumGothic';
    font-weight: bold;
    font-size: 20px;
    margin: 8px;
    align-items: center;
    justify-content: center;
}